{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<h1>Mon compte</h1>
	<p>Mon email :
		{{ app.user.email }}</p>
	<h2>Mes séries favorites</h2>
	<p>À construire ...</p>
{% endblock %}
