{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<h1>Bienvenue sur Wild Series</h1>

	<h2>Les séries les plus récentes</h2>

	{% for program in programs %}
		<div>
			<h3>
				<a href="{{ path("program_show", { slug: program.slug }) }}">
					{{ program.title }}
				</a>
			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}

	{% endblock %}
