{% extends 'base.html.twig' %}

{% block title %}
	All actors
{% endblock %}

{% block body %}
	<h1>Tous les acteurs</h1>
	{% for actor in actors %}
		<div>
			<h2>{{ loop.index }}
				/
				{{ actor.name }}
			</h2>
			<a href="{{ path("actor_show", { actorId: actor.id }) }}">Voir les séries dans lesquelles il ou elle joue</a>
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}

	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
