<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Wild Series</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end bg-primary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Menu</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">

				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="/program">Toutes les series</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catégories</a>
						<div class="d-table float-start float-lg-end">
							<ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end">
								<li>
									<a class="dropdown-item" href="/category">Toutes les catégories</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Catégorie 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Catégorie 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Catégorie 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">...</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Acteurs</a>
						<div class="d-table float-start float-lg-end">
							<ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end">
								<li>
									<a class="dropdown-item" href="/actor">Tous les acteurs</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Acteur 1</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Acteur 2</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Acteur 3</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">...</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="#">Mes favoris</a>
					</li>
					<li class="nav-item">
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<a class="nav-link" aria-current="page" title="Se déconnecter" href="{{ path('app_logout') }}">{{ app.user.email }} 
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
								<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
							</svg>
							</a>
						{% else %}
							<a class="nav-link" href="{{ path('app_login') }}">
								Se connecter</a>
						{% endif %}
					</li>

				</ul>
			</div>
		</div>
	</div>
</nav>
